<html>
<head>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous"></script>
    <script src="js/foo.js"></script>
    <link rel="stylesheet" type="text/css" href="css/foo.css">
</style>
</head>

<body>
    <div id="user_hover_box"></div>
    <div id="downloads"><span></span></div>
    <input type="button" value="get downloads" id="btn_downloads">
    <br />
    <div id="uploads"><span></span></div>
    <input type="button" value="get uploads" id="btn_uploads">
    <br />
    <input type="text" value="" id="txt_search">
    <input type="button" value="search" id="btn_search">
    <br />
    <div id="search_results"><span></span></div>
    <input type="text" value="" id="txt_search_ticket_get">
    <input type="button" value="get search results" id="btn_get_search">
    <br />
    <div id="searches"><span></span></div>
    <input type="button" value="get searches" id="btn_searches">
    <br />
    <div id="users"><span></span></div>
    <input type="button" value="get users" id="btn_users">
    <br />
</body>
</html>

